* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    max-width: 250px;
    width: 100%;
    margin-left: -4%;
    margin-top: -2%;
}

header{
    top:0;
    left:0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: #27251F;
    position: absolute;
    z-index: -1;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 5px clamp(5px, 5%, 100px);
    flex-wrap: wrap;
}

p{
   font-size: clamp(24px, 6vw, 60px);
    color: #27251F;
}

button{
   font-size: clamp(14px, 2vw, 18px);
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFC72C;
    color: #27251F;
    font-weight: bold;
}

#slogan{
    color:#DA291C;
    font-weight: 800;
}

#music{
    color: #FFC72C;
    font-weight: 800;
}

.texto{
    max-width: 500px;
    width: 100%;
}

.sub{
    font-size: clamp(12px, 2vw, 16pt);
    color: #27251F;
    margin-top: 20px;
}

.combo{
    max-width: 600px;
    width: 120%;
}

.conteudo{
    display: flex;
    justify-content:space-between;
}

.menu{
    display: flex;
    justify-content: center;
    align-items:end;
    
}

.pedido{
    transition: 0.5s;
}

.pedido:hover{
    transform: translateY(-20px);
}

.big{
    max-width: 90px;
    width: 100%;
}

.batata{
    max-width: 50px;
    width: 100%;
}

.coca{
    max-width: 70px;
    width: 100%;
}

@media (min-width:401px) and (max-width:600px){
    .menu{
        display: flex;
        justify-content: flex-end;
        margin-top:-20%;
    }
}

@media (max-width: 400px){
    .menu{
        display: flex;
        justify-content: flex-end;
        margin-top:-25%;
    }

    .logo{
        margin-left: -20%;
    }
}